<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <!-- Sección de Ingreso de Código -->
          <div class="container mt-5">
              <div class="card mb-4">
                  <div class="card-header bg-primary text-white">
                      Verificación de correo electrónico
                  </div>
                  <div class="card-body">
                   {{mensaje}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
