<table >
  <tr style="background: #7a9de7c0; border: 1px solid rgb(0, 0, 0);">
    <th colspan="2" style="padding-left: 40%;"><h1><b>DECLARACIÓN JURADA</b></h1></th>
  </tr>
  <tbody style="background: #e7da2361; border: 1px solid rgb(0, 0, 0);">
    <tr style="border: 1px solid rgb(0, 0, 0);">
      <th colspan="2"><p>Autorizo que todo acto administrativo derivado del procedimiento se me notifique en el correo
        electrónico consignado en el presente formulario. (Numeral 20.4 del artículo 20 del Texto Único
        Ordenado de la Ley N° 27414 -- Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N°
        004-2019-JUS).</p></th>
    </tr>
    <tr style="border: 1px solid rgb(0, 0, 0);">
      <th style="border: 1px solid rgb(0, 0, 0);width: 30%;">
        <h2><b>FISCALIZACIÓN POSTERIOR</b></h2>numeral 34.3 del articulo 34 del TUO de la Ley N°27444, Ley del Procedimiento
        Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS
      </th>
      <th style="border: 1px solid rgb(0, 0, 0);">En caso de comprobar fraude o falsedad en la declaración, información o en la documentación presentada por el
        administrado. la
        entidad considerará no satisfecha la exigencia respectiva para todos sus efectos procediendo a declarar la
        nulidad del acto
        administrativo sustentado en dicha declaración, información o documento, e imponer a quien haya empleado esa
        declaración
        información o documento una multa en favor de la entidad de entre cinco (5) y diez (10) Unidades Impositivas
        Tributarias vigentes a la

        fecha de pago: y, además, si la conducta se adecua a los supuestos previstos en el Titulo XIX Delitos contra la
        Fe Pública del Código Penal, ésta deberá ser comuricada al Ministerio Público para que interponga la acción
        penal correspondiente.</th>
    </tr>
    <tr>
      <th style="border: 1px solid rgb(0, 0, 0);">
        <h2><b>VIABILIDAD DE LA SOLICITUD</b></h2> (articulo 11 de la Ley N° 27806, Ley de Transparencia y ¡Acceso a la
        Información Pública)
      </th>
      <th style="border: 1px solid rgb(0, 0, 0);">EGEMSA emitirá un pronunciamiento sobre la viabilidad de la solicitud en un plazo máximo de diez (10) días
        hábiles, salvo se solicite una
        prórroga de plazo, en cuyo caso se comunicará al solicitante la fecha en que se encontrará disponible la información
        requerida.</th>
    </tr>
    <tr>
      <th style="border: 1px solid rgb(0, 0, 0);">
        <h2><b>INFORMACIÓN CON LA QUE NO CUENTE LA ENTIDAD</b></h2>(articulo 13 de la Ley N° 27805, Ley de Transparencia y
        Acceso a la Información Pública)
      </th>
      <th style="border: 1px solid rgb(0, 0, 0);">La solicitud de información no implica la obligación de las entidades de la Administración Pública de crear o
        producir información con la que no cuente o no tenga obligación de contar al momento de efectuarse el pedido.
      </th>
    </tr>
    <tr>
      <th style="border: 1px solid rgb(0, 0, 0);">
        <h2><b>LEY DE PROTECCIÓN DE DATOS PERSONALES</b></h2>(Ley N° 29733)
      </th>
      <th style="border: 1px solid rgb(0, 0, 0);">En cumplimiento de lo dispuesto por la Ley N°29733, Ley de Protección de Datos Personales, le informamos que
        los datos personales que usted nos proporcione serán utilizados y/o tratados por EGEMSA, estricta y únicamente
        para el trámite solicitado. Se informa que EGEMSA podría compartir y/o usar y/o almacenar y/o transferir dicha
        información a terceras personas, estrictamente con el objeto de realizar las actividades antes mencionadas.</th>
    </tr>
  </tbody>

</table>
